NET "clk" TNM_NET = clk_period_grp_50;
TIMESPEC TS_clk_period_50 = PERIOD "clk_period_grp_50" 20.00ns HIGH;

NET "clk"            LOC=P50  | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "reset"          LOC=P132 | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;

NET "rxd"            LOC=P55  | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "txd"            LOC=P51  | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "acia_clk"       LOC=P127 | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "cts"            LOC=P126 | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8 | PULLDOWN;
NET "rts"            LOC=P124 | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "led_a"          LOC=P123 | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;

NET "phi2"           LOC=P99  | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "resb"           LOC=P98  | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "rwb"            LOC=P97  | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "data_io<7>"     LOC=P95  | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "data_io<6>"     LOC=P94  | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "data_io<5>"     LOC=P93  | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "data_io<4>"     LOC=P92  | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "data_io<3>"     LOC=P88  | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "data_io<2>"     LOC=P87  | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "data_io<1>"     LOC=P85  | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "data_io<0>"     LOC=P84  | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;

NET "via_port_a<7>"  LOC=P139 | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "via_port_a<6>"  LOC=P140 | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "via_port_a<5>"  LOC=P141 | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "via_port_a<4>"  LOC=P142 | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "via_port_a<3>"  LOC=P143 | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "via_port_a<2>"  LOC=P1   | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "via_port_a<1>"  LOC=P2   | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "via_port_a<0>"  LOC=P5   | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "via_ca1"        LOC=P6   | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8 | PULLDOWN;
NET "via_ca2"        LOC=P7   | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;

NET "via_port_b<7>"  LOC=P138 | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "via_port_b<6>"  LOC=P137 | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "via_port_b<5>"  LOC=P134 | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "via_port_b<4>"  LOC=P133 | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "via_port_b<3>"  LOC=P120 | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "via_port_b<2>"  LOC=P119 | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "via_port_b<1>"  LOC=P118 | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "via_port_b<0>"  LOC=P117 | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "via_cb1"        LOC=P8   | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "via_cb2"        LOC=P9   | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
